{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/work.css' %}">

<h1>Work</h1>

    <section id="portfolio">
        <div class="gallery">
            <div class="gallery-item">
                <img src="{% static 'images/OIP.jpg' %}" alt="Jidion">
                <p>Image Classification for inmates using YOLO</p>
            </div>
            <div class="gallery-item">
                <img src="{% static 'images/Screenshot 2024-04-29 183018.png' %}" alt="Clip">
                <p>CLIP Model Analysis using Plotly Dash</p>
            </div>        
            <div class="gallery-item">
                <img src="{% static 'images/SQL-Server-Sample-Database.png' %}" alt="SQL Server Sample Database">
                <p>Relational Databse project using MySQL</p>
            </div>      
        </div>
    </section>

<h2>Skills Used</h2>

<p> Proficiency in deep learning frameworks in TensorFlow.
Understanding of object detection algorithms, particularly YOLO (You Only Look Once).
Knowledge of GUI development using libraries like Tkinter for YOLO model.
Knowledge of Plotly Dash for building interactive web applications.
Skills in data visualization using Plotly and other libraries.
Proficiency in SQL (Structured Query Language) for database management. <p>

<a href="{% url 'home' %}">Home</a>
<a href="{% url 'about' %}">About</a>
<a href="{% url 'work' %}">Work</a>
<a href="{% url 'contact' %}">Contact</a>
    